body{
    color:white;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.copy_right_footer{
    position:fixed;
    color:white;
    bottom:0;
    line-height: 3;
    width:100%;
    background-color: grey;
    text-align: center;
}
canvas{
    border:5px solid red;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(38, 165, 38);
}